In [1]:
# Save the conversion rate as variable euros_for_dollar

euros_for_dollar = 0.90

# < write code here >
def print_budget_in_euros(dollar):
    dollar_to_euros = dollar * euros_for_dollar
    print('Budget: {:.2f} mil. €'.format(dollar_to_euros))

print('Titanic') 
print_budget_in_euros(200.0) 
print() 
print('Gladiator') 
print_budget_in_euros(103.0)

Titanic
Budget: 180.00 mil. €

Gladiator
Budget: 92.70 mil. €

In [2]:
oscar_data = [
    ["The Shape of Water", 2017, 6.914, 123, ['sci-fi', 'drama'], 19.4, 195.243464],
    ["Moonlight", 2016, 6.151, 110, ['drama'], 1.5, 65.046687],
    ["Spotlight", 2015, 7.489, 129, ['drama', 'crime', 'history'], 20.0, 88.346473],
    ["Birdman", 2014, 7.604, 119, ['drama', 'comedy'], 18.0, 103.215094],
    ["12 Years a Slave", 2013, 7.71, 133, ['drama', 'biography', 'history'], 20.0, 178.371993],
    ["Argo", 2012, 7.517, 120, ['thriller', 'drama', 'biography'], 44.5, 232.324128],
    ["The Artist", 2011, 7.942, 96, ['drama', 'melodrama', 'comedy'], 15.0, 133.432856],
    ["The King\'s Speech", 2010, 7.977, 118, ['drama', 'biography', 'history'], 15.0, 414.211549],
    ["The Hurt Locker", 2008, 7.298, 126, ['thriller', 'drama', 'war', 'history'], 15.0, 49.230772],
    ["Slumdog Millionaire", 2008, 7.724, 120, ['drama', 'melodrama'], 15.0, 377.910544],
    ["No Country for Old Men", 2007, 7.726, 122, ['thriller', 'drama', 'crime'], 25.0, 171.627166],
    ["The Departed", 2006, 8.456, 151, ['thriller', 'drama', 'crime'], 90.0, 289.847354],
    ["Crash", 2004, 7.896, 108, ['thriller', 'drama', 'crime'], 6.5, 98.410061],
    ["Million Dollar Baby", 2004, 8.075, 132, ['drama', 'sport'], 30.0, 216.763646],
    ["The Lord of the Rings: Return of the King", 2003, 8.617, 201, ['fantasy', 'drama', 'adventure'], 94.0, 1119.110941],
    ["Chicago", 2002, 7.669, 113, ['musical', 'comedy', 'crime'], 45.0, 306.776732],
    ['A Beautiful Mind', 2001, 8.557, 135, ['drama', 'biography', 'melodrama'], 58.0, 313.542341],
    ["Gladiator", 2000, 8.585, 155, ['action', 'drama', 'adventure'], 103.0, 457.640427],
    ["American Beauty", 1999, 7.965, 122, ['drama'], 15.0, 356.296601],
    ["Shakespeare in Love", 1998, 7.452, 123, ['drama', 'melodrama', 'comedy', 'history'], 25.0, 289.317794],
    ["Titanic", 1997, 8.369, 194, ['drama', 'melodrama'], 200.0, 2185.372302],
    ["The English Patient", 1996, 7.849, 155, ['drama', 'melodrama', 'war'], 27.0, 231.976425],
    ["Braveheart", 1995, 8.283, 178, ['drama', 'war', 'biography', 'history'], 72.0, 210.409945],
    ["Forrest Gump", 1994, 8.915, 142, ['drama', 'melodrama'], 55.0, 677.386686],
    ["Schindler\'s List", 1993, 8.819, 195, ['drama', 'biography', 'history'], 22.0, 321.265768],
    ["Unforgiven", 1992, 7.858, 131, ['drama', 'western'], 14.4, 159.157447],
    ["Silence of the Lambs", 1990, 8.335, 114, ['thriller', 'crime', 'mystery', 'drama', 'horror'], 19.0, 272.742922],
    ["Dances with Wolves", 1990, 8.112, 181, ['drama', 'adventure', 'western'], 22.0, 424.208848],
    ["Driving Miss Daisy", 1989, 7.645, 99, ['drama'], 7.5, 145.793296],
    ["Rain Man", 1988, 8.25, 133, ['drama'], 25.0, 354.825435],
]

# update the function code

def print_top5_by_column(data, column, reverse):
    data.sort(key=lambda row: row[column], reverse=reverse)
    print('Title                            | Year  | Rating | Length | Budget | Box office gross  |')
    print('--------------------------------------------------------------------------------')
    for row in data[:5]:
        print('{: <35} | {} | {: >7.2f} | {: >5} | {: >6.1f} | {: >6.1f} |'.format(
            row[0], row[1], row[2], row[3], row[5], row[6]))
        

# update the code for outputting the top values

print('# Highest rating')
print()
print_top5_by_column(oscar_data, 2, True)
print()
print()

print('# Largest budget')
print()
print_top5_by_column(oscar_data, 5, True)
print()
print()

print('# Highest box office gross')
print()
print_top5_by_column(oscar_data, 6, True)
print()
print()

print('# Maximum length')
print()
print_top5_by_column(oscar_data, 3, True)
print()
print()

# add the output for the shortest films
print('# Minimum length')
print()
# < write code here >
print_top5_by_column(oscar_data, 3, False)
print()
print()

# Highest rating

Title                            | Year  | Rating | Length | Budget | Box office gross  |
--------------------------------------------------------------------------------
Forrest Gump                        | 1994 |    8.91 |   142 |   55.0 |  677.4 |
Schindler's List                    | 1993 |    8.82 |   195 |   22.0 |  321.3 |
The Lord of the Rings: Return of the King | 2003 |    8.62 |   201 |   94.0 | 1119.1 |
Gladiator                           | 2000 |    8.59 |   155 |  103.0 |  457.6 |
A Beautiful Mind                    | 2001 |    8.56 |   135 |   58.0 |  313.5 |


# Largest budget

Title                            | Year  | Rating | Length | Budget | Box office gross  |
--------------------------------------------------------------------------------
Titanic                             | 1997 |    8.37 |   194 |  200.0 | 2185.4 |
Gladiator                           | 2000 |    8.59 |   155 |  103.0 |  457.6 |
The Lord of the Rings: Return of the King | 2003 |    8.62 |   201 |   94.0 | 1119.1 |
The Departed                        | 2006 |    8.46 |   151 |   90.0 |  289.8 |
Braveheart                          | 1995 |    8.28 |   178 |   72.0 |  210.4 |


# Highest box office gross

Title                            | Year  | Rating | Length | Budget | Box office gross  |
--------------------------------------------------------------------------------
Titanic                             | 1997 |    8.37 |   194 |  200.0 | 2185.4 |
The Lord of the Rings: Return of the King | 2003 |    8.62 |   201 |   94.0 | 1119.1 |
Forrest Gump                        | 1994 |    8.91 |   142 |   55.0 |  677.4 |
Gladiator                           | 2000 |    8.59 |   155 |  103.0 |  457.6 |
Dances with Wolves                  | 1990 |    8.11 |   181 |   22.0 |  424.2 |


# Maximum length

Title                            | Year  | Rating | Length | Budget | Box office gross  |
--------------------------------------------------------------------------------
The Lord of the Rings: Return of the King | 2003 |    8.62 |   201 |   94.0 | 1119.1 |
Schindler's List                    | 1993 |    8.82 |   195 |   22.0 |  321.3 |
Titanic                             | 1997 |    8.37 |   194 |  200.0 | 2185.4 |
Dances with Wolves                  | 1990 |    8.11 |   181 |   22.0 |  424.2 |
Braveheart                          | 1995 |    8.28 |   178 |   72.0 |  210.4 |


# Minimum length

Title                            | Year  | Rating | Length | Budget | Box office gross  |
--------------------------------------------------------------------------------
The Artist                          | 2011 |    7.94 |    96 |   15.0 |  133.4 |
Driving Miss Daisy                  | 1989 |    7.64 |    99 |    7.5 |  145.8 |
Crash                               | 2004 |    7.90 |   108 |    6.5 |   98.4 |
Moonlight                           | 2016 |    6.15 |   110 |    1.5 |   65.0 |
Chicago                             | 2002 |    7.67 |   113 |   45.0 |  306.8 |

In [4]:
def print_mean(data, column):
    # < write code here >
    total = 0
    for row in data:
        total += row[column]
        mean = total / len(data)
    print('{:.2f}'.format(mean))
    

print('Average rating: ', end='')
print_mean(oscar_data, 2)

print('Average length: ', end='')
print_mean(oscar_data, 3)

print('Average budget: ', end='')
print_mean(oscar_data, 5)

print('Average box office gross: ', end='')
print_mean(oscar_data, 6)

Average rating: 7.93
Average length: 135.93
Average budget: 37.96
Average box office gross: 347.99

In [5]:
def column_sum(data, column):
    # < write code here >
    total = 0
    for each in data:
        total += each[column]
    return total


# < write code here >
total_budget = column_sum(oscar_data, 5)
print('Total budget: ${:.2f} mil.'.format(total_budget))

total_gross = column_sum(oscar_data, 6)
print('Total box office gross: ${:.2f} mil.'.format(total_gross))

Total budget: $1138.80 mil.
Total box office gross: $10439.81 mil.

In [6]:
total_people = 7539

# < write code here >
total_boxoffice_gross = column_sum(oscar_data, 6)
ticket_cost = total_boxoffice_gross / total_people
print('Every person spent an average of ${:.2f} on Oscar-winning films.'.format(ticket_cost))

Every person spent an average of $1.38 on Oscar-winning films.

In [7]:
def column_sum(data, column):
    result = 0
    for row in data:
        result += row[column]
    return result

def column_mean(data, column):
    # < write code here >
    for each in data:
        total = column_sum(data, column)
        mean= total / len(data)
    return mean
    

mean_score = column_mean(oscar_data, 2)
print('Average rating: {:.2f}'.format(mean_score))

mean_length = column_mean(oscar_data, 3)
print('Average length: {:.2f} min.'.format(mean_length))

mean_budget = column_mean(oscar_data, 5)
print('Average budget: ${:.2f} mil.'.format(mean_budget))

mean_gross = column_mean(oscar_data, 6)
print('Average revenue: ${:.2f} mil.'.format(mean_gross))

Average rating: 7.93
Average length: 135.93 min.
Average budget: $37.96 mil.
Average revenue: $347.99 mil.

In [8]:
# create the constant MINUTES_IN_HOUR
# < write code here >
MINUTES_IN_HOUR = 60

def minutes_to_hours(minutes):
    # < write code here >
    hours = minutes / MINUTES_IN_HOUR
    return hours

print('"The Shape of Water" length: {:.2f} hrs.'.format(minutes_to_hours(123)))

"The Shape of Water" length: 2.05 hrs.

In [9]:
def add_cost_per_minute(data):
    # < write code here >
    for i in range(len(data)):
        budget = data[i][5]
        length = data[i][3]
        cost_per_minute = budget /length
        data[i].append(cost_per_minute)


add_cost_per_minute(oscar_data)

# the new column's index is 7
oscar_data.sort(key=lambda row: row[7], reverse=True)
print('Title                            | Cost per minute, mil. $ |')
print('-------------------------------------------------------------')
for row in oscar_data[:5]:
    print('{: <35} | {: >21.2f} |'.format(row[0], row[7]))

Title                            | Cost per minute, mil. $ |
-------------------------------------------------------------
Titanic                             |                  1.03 |
Gladiator                           |                  0.66 |
The Departed                        |                  0.60 |
The Lord of the Rings: Return of the King |                  0.47 |
A Beautiful Mind                    |                  0.43 |

In [10]:
def filter_after(data, year_threshold):
    result = []
    for row in data:
        year = row[1]
        if year >= year_threshold:
            result.append(row)
    return result

def print_top5_by_column(data, column, reverse):
    data.sort(key=lambda row: row[column], reverse=reverse)
    print('Title                            | Year  | Rating | Length | Budget | Box office gross  |')
    print('--------------------------------------------------------------------------------')
    for row in data[:5]:
        print('{: <35} | {} | {: >7.2f} | {: >5} | {: >6.1f} | {: >6.1f} |'.format(
            row[0], row[1], row[2], row[3], row[5], row[6]))

# < write code here >
filtered_data = filter_after(oscar_data, 2000)
print_top5_by_column(filtered_data, 6, True)

Title                            | Year  | Rating | Length | Budget | Box office gross  |
--------------------------------------------------------------------------------
The Lord of the Rings: Return of the King | 2003 |    8.62 |   201 |   94.0 | 1119.1 |
Gladiator                           | 2000 |    8.59 |   155 |  103.0 |  457.6 |
The King's Speech                   | 2010 |    7.98 |   118 |   15.0 |  414.2 |
Slumdog Millionaire                 | 2008 |    7.72 |   120 |   15.0 |  377.9 |
A Beautiful Mind                    | 2001 |    8.56 |   135 |   58.0 |  313.5 |

In [11]:
def filter_not_longer_than(data, length_threshold):
    # < write code here >
    result=[]
    for row in data:
        length = row[3]
        if length <= length_threshold:
            result.append(row)
    return result

def print_top5_by_column(data, column, reverse):
    data.sort(key=lambda row: row[column], reverse=reverse)
    print('Title                            | Year  | Rating | Length | Budget | Box office gross  |')
    print('--------------------------------------------------------------------------------')
    for row in data[:5]:
        print('{: <35} | {} | {: >7.2f} | {: >5} | {: >6.1f} | {: >6.1f} |'.format(
            row[0], row[1], row[2], row[3], row[5], row[6]))

# < write code here >
two_hour_films = filter_not_longer_than(oscar_data, 120)
print_top5_by_column(two_hour_films, 6, True)

Title                            | Year  | Rating | Length | Budget | Box office gross  |
--------------------------------------------------------------------------------
The King's Speech                   | 2010 |    7.98 |   118 |   15.0 |  414.2 |
Slumdog Millionaire                 | 2008 |    7.72 |   120 |   15.0 |  377.9 |
Chicago                             | 2002 |    7.67 |   113 |   45.0 |  306.8 |
Silence of the Lambs                | 1990 |    8.34 |   114 |   19.0 |  272.7 |
Argo                                | 2012 |    7.52 |   120 |   44.5 |  232.3 |